# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# Java
*.class
*.jar
*.war
*.ear

# Maven / Gradle
target/
.gradle/

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis e credenciais locais
.env
*.env
